h1 {
  font-family:"Times New Roman";
}
h1.start{
  font-size: 80px;
}
h2 {

  font-family:"Times New Roman";
}
p {
  font-family:"Times New Roman";
}
body{
  background-color:white;
}
#container{
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
}
.centered {
  text-align: center;
}
#name{
  float: left;
  clear: right;
  width: 25%;
  height: 7.5%;
  line-height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color:white;
  border: 2px solid black;
}
#score{
  float: right;
  width: 15%;
  height: 7.5%;
  line-height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color:white;
  border: 2px solid black;
}
#game-container{
  float: left;
  width: 100%;
  height: 70%;
  background-color:white;
  border: 2px solid black;
}
#game{
  margin: auto;
  width: 35%;
  height: 85%;
  line-height: 500px;
  background-color:red;
  //display: none;
}
#timer{
  float: left;
  width: 12%;
  height: 5%;
  line-height: 15px;
  background-color:white;
}
#fuse-container{
  float: right;
  padding: 15px 20px;
  width: 85%;
  height: 5%;
  background-color:white;
}
#fuse{
  float: left;
  width: 100%;
  height: 60%;
  background-color:black;
}
.buttons{
  border: none;
  width: 24.2%;
  height: 10%;
  margin: 5px;
  float: left;
  clear: right;
}
button {
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;
}
button:hover {opacity: 1}
button:active {
  transform: translateY(2px);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.red {
  background-color: #f44336;
}
.yellow {
  background-color: #e6e600;
}
.blue {
  background-color: #008CBA;
}
.green {
  background-color: #4CAF50;
}
